.container {
  background-color: var(--box-inner);
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.main-body {
  margin-top: 1rem;
  background-color: var(--box-inner);
  width: 70%;
  max-width: var(--maxW);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.published-container {
  display: flex;
  flex-direction: column;
}

.not-published-container {
  display: flex;
  flex-direction: column;
}

.published-heading {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.create-wrapper {
  display: flex;
  width: 100%;
}

.create-link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
}

.create-btn {
  background-color: var(--box-outer);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.create-btn:hover {
  color: white;
  background-color: var(--hover);
}
