.container {
  background-color: var(--box-inner);
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.main-body {
  margin-top: 1rem;
  background-color: var(--box-inner);
  width: 70%;
  max-width: var(--maxW);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
