.comment-container {
  border-radius: 0.2rem;
  padding: 1rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-list-item {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.comment-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
