:root {
  --box-inner: #f3f4f6;
  --box-outer: #e5e7eb;
  --hover: #4b5563;
  --maxW: 1024px;
}
html,
body,
#root {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
