.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1rem;
}

.login-form input {
  line-height: 2rem;
  max-width: 300px;
}

#login-btn {
  width: 100%;
  max-width: 100px;
  padding: 0.5rem 1rem;
}
